@import "global/variables.scss";

.catalog-filter {
  display: flex;
  justify-content: center;
}

.catalog-filter__form {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog-filter__group {
  margin: 0;
  padding: 0;

  border: none;
}

.catalog-filter__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-black;
}
