@import "global/variables.scss";

.catalog-sorting {
  display: flex;
  justify-content: center;

  @media (min-width: $width-tablet) {
    justify-content: right;
  }

  @media (min-width: $width-desktop) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.catalog-sorting__group {
  padding: 0;

  border: none;
}

.catalog-sorting__title {
  margin-right: 15px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog-sorting__select-control {
  max-width: 150px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $color-base-primary;

  background-color: transparent;
  border: none;
}
