@import "global/variables.scss";

.copyright {
  line-height: 16px;
}

.copyright__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px 0;

  line-height: 16px;

  @media (min-width: $width-tablet) {
    padding-bottom: 40px;
  }
}

.copyright__text {
  margin-right: 4px;

  color: $color-base-grey;
}

.copyright__link {
  margin-top: 6px;
}
