@import "global/variables.scss";

.logo-footer {
  @media (min-width: $width-desktop) {
    display: block;
    margin-bottom: 10px;
  }
}

.logo-footer__image {
  &--mobile {
    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  &--tablet-and-desktop {
    display: none;

    @media (min-width: $width-tablet) {
      display: block;
    }

    @media (min-width: $width-desktop) {
      display: block;
    }
  }
}
