@import "global/variables.scss";

.main-nav-user {
  display: flex;
  justify-content: end;
}

.main-nav-user__list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.main-nav-user__item {
  width: 60px;
  height: 60px;

  @media (min-width: $width-tablet) {
    height: 80px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 20px;
    width: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav-user__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (min-width: $width-desktop) {
    padding: 0 20px;
  }
}

.main-nav-user__icon {
  fill: $color-base-black;
}

.main-nav-user__link:hover .main-nav-user__icon,
.main-nav-user__link:focus .main-nav-user__icon {
  fill: $color-base-primary;
}

.main-nav-user__link:focus-visible {
  outline: none;
}

.main-nav-user__link:active {
  background-color: $color-base-secondary;
}

.main-nav-user__link-name {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $color-base-black;
  letter-spacing: 0.02em;

  text-transform: uppercase;

  @media (min-width: $width-desktop) {
    display: block;
    margin-left: 8px;
  }
}

.main-nav-user__link:hover .main-nav-user__link-name,
.main-nav-user__link:focus .main-nav-user__link-name {
  color: $color-base-primary;
}

.main-nav-user__toogle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.main-nav-user__toogle-closed,
.main-nav-user__toogle-open {
  fill: $color-base-black;
}

.main-nav-user__toogle:hover .main-nav-user__toogle-closed,
.main-nav-user__toogle:hover .main-nav-user__toogle-open,
.main-nav-user__toogle:focus .main-nav-user__toogle-closed,
.main-nav-user__toogle:focus .main-nav-user__toogle-open {
  fill: $color-base-primary;
}

.main-nav-user__toogle:focus-visible {
  outline: none;
}

.main-nav-user__toogle:active {
  background-color: $color-base-secondary;
}

.main-nav--open .main-nav-user__toogle-closed {
  display: none;
}

.main-nav--closed .main-nav-user__toogle-open {
  display: none;
}
