@import "global/variables.scss";

.main-nav-user {
  display: flex;
}

.main-nav-user__list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.main-nav-user__item {
  width: 60px;
  height: 60px;
}

.main-nav-user__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-nav-user__link-name {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $color-base-black;

  text-transform: uppercase;
}

.main-nav-user__toogle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &--open {
    display: none;
  }
}
