@import "global/variables.scss";

.promo-product__badge {
  margin: 0 0 4px 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $color-base-primary;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;
}

.promo-product__heading {
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $color-base-black;
  letter-spacing: 0.02em;

  text-align: center;
}

.promo-product__description {
  margin: 0 0 20px 0;

  text-align: center;
}
