@import "global/variables.scss";

.promo-slider-pagination {
  @media (min-width: $width-desktop) {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.promo-slider-pagination__list {
  display: none;
  justify-content: center;

  margin: 0;
  padding-left: 0;

  @media (min-width: $width-desktop) {
    position: absolute;
    top: -80px;
    display: flex;
  }
}

.promo-slider-pagination__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.promo-slider-pagination__button {
  padding: 0;
  width: 62px;
  height: 4px;

  background-color: $color-base-white;
  border: none;
  cursor: pointer;

  &--current {
    background-color: $color-base-primary;
  }
}
