@import "global/variables.scss";

.promo-slider-control__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.promo-slider-control__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  padding: 0;

  &:hover {
    background: linear-gradient(to left, $color-transparent 0, $color-base-white 100%);
  }

  &:focus {
    background: linear-gradient(to left, $color-transparent 0, $color-base-white 100%);
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    background: linear-gradient(to left, $color-transparent 0, $color-alt-primary-opacity 100%);
  }

  &:disabled {
    cursor: auto;

    &:hover {
      background: none;
    }
  }

  @media (min-width: $width-tablet) {
    width: 80px;
    height: 77%;
  }

  @media (min-width: $width-desktop) {
    height: 100%;
  }
}

.promo-slider-control__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  padding: 0;

  &:hover {
    background: linear-gradient(to right, $color-transparent 0, $color-base-white 100%);
  }

  &:focus {
    background: linear-gradient(to right, $color-transparent 0, $color-base-white 100%);
  }

  &:focus-visible {
    outline: none;
  }

  &:active {
    background: linear-gradient(to right, $color-transparent 0, $color-alt-primary-opacity 100%);
  }

  &:disabled {
    cursor: auto;

    &:hover {
      background: none;
    }
  }

  @media (min-width: $width-tablet) {
    width: 80px;
    height: 77%;
  }

  @media (min-width: $width-desktop) {
    height: 100%;
  }
}

.promo-slider-control__left:disabled .promo-slider-control__icon-right,
.promo-slider-control__right:disabled .promo-slider-control__icon-left {
  fill: $color-base-grey;
}

.promo-slider-control__icon-right,
.promo-slider-control__icon-left {
  fill: $color-base-primary;
}

.promo-slider-control__icon-left {
  rotate: 180deg;
}
