@import "global/variables.scss";

.shop__heading {
  margin: 0;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-base-primary;
  letter-spacing: 0.02em;
}

.shop__list {
  margin: 0;
  padding-left: 0;
}

.shop__item {
  padding-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.shop__item:last-child {
  padding-bottom: 8px;
}

.shop__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $color-base-black;
  letter-spacing: 0.02em;

  text-transform: uppercase;
}

.shop__item:hover .shop__link,
.shop__item:focus .shop__link {
  color: $color-alt-primary-lighter;
}

.shop__link:focus-visible {
  color: $color-alt-primary-lighter;

  outline: none;
}

.shop__item:active .shop__link {
  color: $color-alt-primary-darker;
}
