// viewport variables
$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1200px;

// color variables
$color-base-white: #ffffff;
$color-base-grey: #bdbdbd;
$color-base-black: #333333;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;
$color-alt-primary-lighter: #9070ec;
$color-alt-primary-darker: #593cac;
$color-alt-primary-opacity: rgba(120, 89, 207, 0.25);
$color-alt-light-grey: #e2e2e2;
$color-bg-lightest-grey: #f8f8f8;
$color-bg-flat-white: #f3ebe1;
$color-bg-lavender-latte: #eae6fc;
$color-bg-espresso: #e5e6e8;
